<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "Easy track" %></h2>
  <p class="lead">
    Create your subdomain and start tracking
  </p>
  <%= @subdomain %>
</div>

<div class="row">
    
</div>
